@keyframes error {
    0% {
        transform: translateX(-1.5rem)
    } 
    100% {
        transform: translateX(0)
    }
}

@keyframes form {
    0% {
        transform: translateY(-2rem)
    } 
    100% {
        transform: translateY(0)
    }
}